@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url("../css/var.css");
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/* body */
body{
    width: 90%;
    margin: auto;
}
/* header */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}
.logo{
    color: var(--color-main);
    font-size: 24px;
    font-family: var(--font-outfit);
    font-weight: 700;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav>ul>li{
    padding: 0 20px;
    a{
        color: var(--color-black);
        font-family: var(--font-outfit);
        font-size: 20px;
    }
}
.lang-selector{
    padding: 0 10px;
}
.profile{
    padding: 0 0 0 10px;
}
.icon{
    width: 40px;
    height: 40px;
}

/* main */

/* search */
.clean-search{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 5px;
    box-shadow: var(--shadow-default);
    border-radius: 33px;
}
.search-item{
    width: 28%;
    height: 100%;
    padding-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.where{
    border-radius: 25px 10px 10px 25px;
}
.when, .who{
    border-radius: 10px;
}
.when::before{
    left: 0;
    position: absolute;
    content: '';
    width: 1px;
    height: 70%;
    background-color: #cecece;
}
.when::after{
    content: '';
    width: 1px;
    height: 70%;
    background-color: #cecece;
}
.search-item:hover{
    background-color: var(--color-gray);
}
.search-item:hover > input{
    background-color: var(--color-gray);
}
/* .where:hover + .when::before{
    background-color: var(--color-gray);
}
.when:hover:after{
    background-color: var(--color-gray);
}
.when:hover:before{
    background-color: var(--color-gray);
} */
.clean-search button{
    width: 15%;
    height: 70%;
    border-radius: 25px;
    border: 0px;
    background-color: var(--color-main);
    color: white;
    font-family: var(--font-outfit);
    font-size: 20px;
    font-weight: 600;
}
input{
    width: 100%;
    height: 60px;
    margin: 0 20px;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: var(--font-outfit);
}
::placeholder {
    font-size: 20px;
    font-family: var(--font-outfit);
}
/* hero */
.heroes{
    width: 100%;
    height: 430px;
    margin: 50px 0;
    position: relative;
    overflow-x: hidden;
    border-radius: 10px;
}
.hero{
    width: inherit;
    height: inherit;
    object-fit: cover;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 0;
}
.first{
    animation: first 8s linear infinite;
}
.second{
    animation: second 8s linear infinite;
}
.heroes h2{
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 1;
    color: white;
    font-size: 40px;
    font-family: var(--font-outfit);
    font-weight: 700;
    transform: translate(-50%, -50%);
}
@keyframes first{
    0% {
        left: 0%;
        opacity: 100%;
    }
    49%{
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
}
@keyframes second{
    0% {
        left: 0%;
        opacity: 0%;
    }
    49%{
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    99%{
        opacity: 100%;
    }
    100%{
        opacity: 0;
    }
}
/* info */
.info{
    width: 100%;
    display: flex;
    padding: 24px;
    justify-content: space-between;
    font-family: var(--font-outfit);
    background-color: var(--color-main-smooth);
    border-radius: 10px;
}
.info-general{
    width: 40%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info-general h2{
    padding: 10px 0;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.info-general p{
    font-size: 14px;
    font-weight: 400;
}
.info-item{
    width: 20%;
    padding: 8px 8px 16px 8px;
    background-color: white;
    border-radius: 10px;
    display: grid;
    margin: 0 10px;
}
.info-item img{
    width: 100%;
    height: 100px;
    object-fit: cover;   
    border-radius: 5px;
}
a{
    color: var(--color-black);
    font-family: var(--font-outfit);
    font-size: 12px;
}
.info-item h3{
    margin: 12px 8px 0;
}
.info-item p, .info-item span{
    margin: 8px;
}
span{
    color: var(--color-main);
    font-weight: 600;
}
/* featured-tours */
.featured-tours{
    padding: 48px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.featured-tours h2{
    padding: 10px 0;
    font-size: 40px;
    font-family: var(--font-outfit);
    color: var(--color-main);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
.featured-item{
    min-height: 330px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    box-shadow: var(--shadow-default);
}
.featured-item img{
    width: 100%;
    height: 150px;
    object-fit: cover;   
    border-radius: 10px 10px 0 0;
}
.featured-item h3{
    padding: 16px;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.featured-item p{
    padding: 0 18px;
}
.featured-item span{
    position: absolute;
    bottom: 0;
    display: block;
    padding: 20px;
    margin-top: auto;
    font-size: 16px;
}
