:root{
    --color-main: #FF8652;
    --color-main-smooth: #FFEEE6;
    --color-black: black;
    --color-gray: #f1f1f1;
    --font-outfit: "Outfit", sans-serif;
    --h1-size: 
    --border-line-size:
}